<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
                <span>
                    <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked="@column.Key == 'all'" />
                    <label for="@column.Key">@column.Value</label>
                </span>
            }

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    @{
        //TODO #4: Loop over the search results to display all job fields.
    }
    @if (ViewBag.jobs != null)

    {
        <h3>@ViewBag.title</h3>

        @foreach (var job in ViewBag.jobs)
        {
            <table>

                <tr style="background-color:lightgreen">
                    <td style="color:red">𝕀𝔻: @job.Id</td>
                </tr>
                <tr>
                    <td><b style="color:blue">ℕ𝕒𝕞𝕖:</b> @job.Name</td>
                </tr>
                <tr>
                    <td>𝔼𝕞𝕡𝕝𝕠𝕪𝕖𝕣: @job.Employer</td>
                </tr>
                <tr>
                    <td>𝕃𝕠𝕔𝕒𝕥𝕚𝕠𝕟: @job.Location</td>
                </tr>
                <tr>
                    <td>ℙ𝕠𝕤𝕚𝕥𝕚𝕠𝕟:@job.PositionType</td>
                </tr>
                <tr>
                    <td>𝕊𝕜𝕚𝕝𝕝𝕤: @job.CoreCompetency</td>
                </tr>

            </table>
        }
    }
</div>